@import "../node_modules/bootstrap/scss/bootstrap";

$background_color_1: #f5f5f5;

label {
    input {
        margin-top: 1px;
    }
}

.popover {
    width: 100%;
    max-width: 600px;
    height: 400px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    display:block;
}

.popover-body {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
}

#map {
    height: 500px;
}

.body {
    padding-top: 70px;
}

.center {
    width: max-content;
    margin: auto;
}

.listing-header {
    width: 100%;
    @extend .my-4;
}

.main-form {
	width: 100%;
	max-width: 330px;
	margin: auto;
}

.btn-form {
    overflow: auto;
}

.big-form {
    .title {
        @extend .h3, .mb-3, .font-weight-normal;
    }
    input {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    label {
        width: 100%;
    }
    select {
        @extend .form-control;
    }
    input[type="email"] {
        @extend .form-control;
    }
    input[type="password"] {
        @extend .form-control;
    }
    input[type="number"] {
        @extend .form-control;
    }
    input[type="text"] {
        @extend .form-control;
    }
    button[type="submit"] {
        @extend .btn, .btn-lg, .btn-primary, .btn-block;
    }
}

.compact-form {
    @extend .big-form;
    input {
        margin: 1px;
    }   
}