{
  "extends": "semistandard",
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "newline-after-var": ["error", "always"],
    "curly": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "PAGE_GLOBALS": "readonly",
    "Stripe": "readonly",
    "$": "readonly",
    "google": "readonly"
  }
}