extends layout

block body
  .container
    .row
      .col-lg-3
        h1.my-4 Sidebar
        .list-group
          .list-group-item(href='#') Item 1
          .list-group-item(href='#') Item 2
          .list-group-item(href='#') Item 3
      .col-lg-9
          .row
            each item in items
              .col-lg-4.col-md-6.mb-4
                  .card.h-100
                    a(href='#')
                      img.card-img-top(src='http://placehold.it/700x400', alt='')
                    .card-body
                      h4.card-title
                        a(href='#') #{item.name}
                      h5 #{item.price}c
                      p.card-text
                        | #{item.description}
