extends layout

block content
    form.big-form.main-form(method='post')
        h1.title Please sign in
        input(name='email', type='email', placeholder='Email address', required, autofocus)
        input(name='password', type='password', placeholder='Password', required)
        label
            input(type='checkbox', name='remember')
            |  Remember me
        button(type='submit') Sign in