extends form

block content
    form.main-form(method="post")
        h1.title Register
        input(name='name', type='text', placeholder='Name', required, autofocus)
        input(name='email', type='email', placeholder='Email address', required, autofocus)
        input(name='password', type='password', placeholder='Password', required)
        label
            input(type='checkbox', name='remember-me')
            |  Remember me
        button(type='submit') Sign in