extends ../layout

block content
  .col-lg-9
    form.big-form(method='post')
      h1.listing-header New product
      input(name='name', type='text', placeholder='Name', required, autofocus)
      input(name='description', type='text', placeholder='Description', required)
      input(name='price', type='number', min='1', placeholder='Price', required)
      input(name='availableQuantity', type='number', min='1', placeholder='Available quantity', required)
      button(type='submit') Create