extends ../../layout

block content
  .container
    .row
      .col-lg-3
        h1.my-4 Sidebar
        .list-group
          a.list-group-item(href='#' onclick="goToOrg('edit/products/')") Products
          a.list-group-item(href='#' onclick="goToOrg('edit/subscriptions/')") Subscriptions
          a.list-group-item(href='#' onclick="goToOrg('edit/shops/')") Shops
          a.list-group-item(href='#' onclick="goToOrg('edit/payments')") Payments
          a.list-group-item(href='#' onclick="goToOrg('edit/integration')") Integration
      block main-content