extends ../layout

block main-content
  .col-lg-9
    .row
      h1.listing-header Products
      .listing-header
        h2
          a(href='create').float-right + Create
      each shop in shops
        .col-lg-4.col-md-6.mb-4
            .card.h-100
              a(href=`${shop.id}/`)
                img.card-img-top(src='http://placehold.it/700x400')
              .card-body
                h4.card-title
                  a(href=`${shop.id}/`) #{shop.lat}
                h5 #{shop.lng}
