extends ../layout

block content
  .col-lg-9
    h1.listing-header Edit subscription
    form.btn-form(method='post', action='delete')
      button.btn.btn-danger.float-right(type='submit') Delete
    form.big-form(method='post')
      input(name='name', type='text', placeholder='Name', required, autofocus, value=name)
      input(name='description', type='text', placeholder='Description', value=description)
      input(name='price', type='number', placeholder='Price', required, value=price)
      input(name='period', type='text', placeholder='period', required, value=period)
      button(type='submit') Save