extends ../layout

block content
  .center.col-lg-9
    h1.mt-4 #{name}
    p.lead #{formatPrice(price, period)}
    p
      | by 
      a(href='#') Not Implemented
    img.img-fluid.rounded(src=image)
    p #{description}