extends ../layout

block content
  .center.col-lg-9
    h1.mt-4 #{name}
    p.lead #{formatCurrency(price)} per #{period}
    p
      | by 
      a(href='#') Not Implemented
    img.img-fluid.rounded(src='http://placehold.it/700x400')
    p #{description}